
* {
    font-family: "Poppins", sans-serif;
}

a {
    color: rgb(91, 91, 91);
    font-size: smaller;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 2px solid;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin-top: 10px;
    border-bottom: 2px solid;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.column {
    /*flex: 1;*/
    padding: 10px;
}

.column:first-child {
    flex: 1; 
}

.column:last-child {
    flex: 2;  
}

.column img {
    max-width: 100%;
    height: auto;
}

.button-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 5px;
}

.button-box { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.algo {
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.algo:hover {
    background-color: #f0f0f0;
}

.algo.active {
    background-color: black;
    border: 5px double;
    color: white;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

.dataset-section { 
    display: flex;
    margin-top: 10px;
}

.dataset {
    border: 0px;
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.dataset:hover {
    background-color: #f0f0f0;
}

.dataset.active {
    background-color: black;
    color: white;
}